body {
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: aliceblue;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-weight: 500;
}


main {
  padding: 20px;
  width: 600px;
  margin:0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main--title {
  text-align: start;
  font-weight: 500;
  
}

.recipients {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 5px;
  width: 100%;
}

.div--upload {
  display: flex;
  justify-content:center;
  padding: 0;
  margin-top: 36px;
}

.button--upload {
  flex: 0 0 130px;
  margin-left: 0;
}

.chosen--file {
  flex:1;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 16px;
}

li {
  /* makes inputs take up the whole width of the parent */
  width: 100%;
  text-align: justify;
  padding: 4px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
}

.wallet--address {
  width: 300px;
  margin-bottom:10px;
}
.wallet--pubkey {
  width: 100%;
  box-sizing:border-box;
  margin-bottom:10px;
}

/* this adds 2px red border on every element */ 
/* * {
  border: 2px solid red;
} */

button {
  align-self: center;
  height: 30px;
}

.loading-image {
  align-self: center;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}


.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-image {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.button-container {
  display: flex;
  justify-content: space-around; 
  gap: 10px;
}

.json-button {
  margin: 20px;
  background-color: rgb(127, 255, 155);
}